{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<h4>Bonjour {{ user.username }} Bienvenue dans Nemeku</h4>

<div class="letout">
      <div><button class="submit2-button" type="button"><a href="/rooms">Discussions</a></button></div>
      <div>  </div>
      <div><button class="submit2-button" type="button"><a href="/logout">Se deconnecter</a></button></div>
    <div class="image-container">
        <img src="{% static 'comptes/images/humain.jpg' %}" alt="Image de Connexion">
    </div>

</div>

{% else %}
<div class="container">
  <div class="gaucheIndex">
    <img class="image" src="{% static 'comptes/images/canva.png' %}" alt="Image">
  </div>

  <div class="droiteIndex">
    <button class="myButton" type="button"><a href="/register">S'inscrire</a></button>
    <h1></h1>
    <button class="myButton" type="button"><a href="/login">Se connecter</a></button>
    
  </div>
</div>

{% endif %}
{% endblock %}
