.flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.form-wrapper {
    background-color: #f0f0f0; /* Couleur de fond pour distinguer */
    padding: 20px;
    border-radius: 8px;
}

.chat-wrapper {
    background-color: #e0e0e0; /* Couleur de fond pour distinguer */
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 400px; /* Ajustez la hauteur maximale selon vos besoins */
}

.chat-messages {
    max-height: 100%;
    overflow-y: auto;
}

.myButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.myButton:hover {
    background-color: #0056b3;
}
