{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'comptes/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'room/style.css' %}"/>
    <style>
        .chat-messages {
            height :400px;
            overflow-y:auto;
        }
    </style>
</head>
<body>
    
        {% block content %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
 
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'room/style.js' %}"></script>
</body>
</html>
