{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <link rel="stylesheet" href="{% static 'comptes/style.css' %}"/>
</head>
<body>

    <center>
           <img src="{% static 'comptes/images/nemeku_love.png' %}"/>
        <h2>
            system d'auth

        </h2>
        {% block content %}
         {% endblock %}

    </center>
    
</body>
</html>